[Unit]
Description=Website Service

[Service]
WorkingDirectory=/home/portfolio/website/web-ui
ExecStart=/usr/local/bin/serve -s build -l 5111

[Install]
WantedBy=multi-user.target
